body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.gallery {
    display: flex;
    row-gap: 48px;
    column-gap: 24px;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    margin-bottom: 100px;
    margin-top: 100px;

}

.gallery-image {
    width: 360px;
    height: 300px;
    object-fit: cover;

}